.whiteBG {
    background-color: #ececec;
}
.greyBG {
    background-color: #c5c5c5;
}
.filler {
    height: 415px;
    width: 50%;
}
.navFiller {
    height: 100px;
    width: 100%;
}

.footFiller {
    height: 230px;
}

.fullScreen {
    height: 100%;
}